<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Contact</p>
        </div>
    </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- Error Message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Contact Details -->
<div class="container" *ngIf="!loading && isNotEmpty">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img [src]="contact.photo" class="contact-img-big" alt="">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name: <span class="fw-bold">{{contact.name}}</span>
                </li>
                <li class="list-group-item list-group-item-danger">Email: <span class="fw-bold">{{contact.email}}</span>
                </li>
                <li class="list-group-item list-group-item-danger">Mobile: <span
                        class="fw-bold">{{contact.mobile}}</span>
                </li>
                <li class="list-group-item list-group-item-danger">Company: <span
                        class="fw-bold">{{contact.company}}</span></li>
                <li class="list-group-item list-group-item-danger">Title: <span class="fw-bold">{{contact.title}}</span>
                </li>
                <li class="list-group-item list-group-item-danger">Group name: <span
                        class="fw-bold">{{group.name}}</span></li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a routerLink="/" class="btn btn-danger">
                <i class="fa-fa-arrow-alt-circle-left"></i> Back</a>
            <a routerLink="/edit/{{contact.id}}" class="btn btn-primary">
                <i class="fa fa-pen"></i> Edit</a>
        </div>
    </div>
</div>