<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
    <div class="container">
        <a href="" routerLink="/" class="navbar-brand">
            <i class="fa fa-mobile"></i> Contacts Manager</a>
    </div>
</nav>