<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
        </div>
    </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- Error Message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Edit Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="submitUpdate()">
                <div class="mb-2">
                    <input [value]="contact.name" name="name" [(ngModel)]="contact.name" required="true" type="text"
                        class="form-control" placeholder="Name" />
                </div>
                <div class="mb-2">
                    <input [value]="contact.photo" name="photo" [(ngModel)]="contact.photo" required="true" type="text"
                        class="form-control" placeholder="Photo Url" />
                </div>
                <div class="mb-2">
                    <input [value]="contact.email" name="email" [(ngModel)]="contact.email" required="true" type="email"
                        class="form-control" placeholder="Email" />
                </div>
                <div class="mb-2">
                    <input [value]="contact.mobile" name="mobile" [(ngModel)]="contact.mobile" required="true"
                        type="number" class="form-control" placeholder="Phone number" />
                </div>
                <div class="mb-2">
                    <input [value]="contact.company" name="company" [(ngModel)]="contact.company" required="true"
                        type="text" class="form-control" placeholder="Company" />
                </div>
                <div class="mb-2">
                    <input [value]="contact.title" name="title" [(ngModel)]="contact.title" required="true" type="text"
                        class="form-control" placeholder="Title" />
                </div>
                <div class="mb-2">
                    <select [value]="contact.groupId" name="groupId" [(ngModel)]="contact.groupId" required="true"
                        class="form-control">
                        <option value="">Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Update">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <img [src]="contact.photo" class="contact-img" alt="">
        </div>
    </div>
</div>