<div class="body-contact">
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <p class="h3 text-danger fw-bold">
                    Contacts
                    <a routerLink="/add" class="btn btn-danger btn-sm">
                        <i class="fa fa-plus-circle"></i> New</a>
                </p>
                <p></p>
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Search User">
                                </div>
                                <div class="col">
                                    <input type="submit" class="btn btn-outline-dark" value="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Loading Spinner -->
    <div *ngIf="loading">
        <app-spinner></app-spinner>
    </div>

    <!-- Error Message -->
    <div *ngIf="!loading && errorMessage">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Cards -->
    <div class="container mt-3" *ngIf=" !loading && contacts.length> 0">
        <div class="row">
            <div class="col-md-6" *ngFor="let contact of contacts">
                <div class="card list-group-item-danger shadow-lg my-2">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <img class="contact-img" [src]="contact.photo" alt="">
                            </div>
                            <div class="col-sm-7">
                                <ul class="list-group">
                                    <li class="list-group-item">Name: <span class="fw-bold">{{contact.name}}</span></li>
                                    <li class="list-group-item">Email: <span class="fw-bold">{{contact.email}}</span>
                                    </li>
                                    <li class="list-group-item">Mobile: <span class="fw-bold">{{contact.mobile}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
                                <a routerLink="/view/{{contact.id}}" class="btn btn-warning mt-1">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a routerLink="/edit/{{contact.id}}" class="btn btn-primary mt-1">
                                    <i class="fa fa-pen"></i>
                                </a>
                                <button class="btn btn-danger mt-1" (click)="deleteContact(contact.id)">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>