<div class="container container-fluid mt-5">
    <div class="row">
        <div class="col">
            <p class="h1 text-danger fw-bold ">
                404! Page Not Found
            </p>
        </div>
    </div>
</div>