<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
        </div>
    </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- Error Message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Create Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.name" name="name" type="text" class="form-control"
                        placeholder="Name">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.photo" name="photo" type="text" class="form-control"
                        placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.email" name="email" type="email" class="form-control"
                        placeholder="Email">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.mobile" name="mobile" type="number" class="form-control"
                        placeholder="Phone number">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.company" name="company" type="text" class="form-control"
                        placeholder="Company">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.title" name="title" type="text" class="form-control"
                        placeholder="Title">
                </div>
                <div class="mb-2">
                    <select [value]="contact.groupId" required="true" [(ngModel)]="contact.groupId" name="groupId"
                        class="form-control" *ngIf="groups.length > 0">
                        <option [value]="contact.groupId">Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Create">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <img [src]="contact.photo" class="contact-img">
        </div>
    </div>
</div>